body{
  background-color: black;
  color: #463F3A;
  font-family: "Cookie", Arial, sans-serif;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
main {
  background-color: #F4F3EE;
  border: solid .01px black;  
}
header{
  background-color: #BCB8B1;
  text-align: center;
  border: solid 0.1px black;
}
h1 { 
  line-height: 200%;
}
h3 {
  line-height: 0%;
}
nav { 
  font-weight: bold;
  text-align: center;
  background-color: #dcdcdc;
  border-top: solid .01px black;
  border-bottom: solid .01px black;  
}
nav a { 
  text-decoration: none ;
}
.studio { font-style: italic;}
footer {
  background-color: #BCB8B1;
font-size: .60em;
font-style: italic;
  text-algin: center;
}

img {
  padding: 5px;
}